ethereum:
  endpoint:
    http: ETHEREUM_HTTP_ENDPOINT
    ws: ETHEREUM_WS_ENDPOINT
  contracts:
    erc20: TFC_ERC20_CONTRACT_ADDRESS
    manager: TFC_MANAGER_CONTRACT_ADDRESS

filter:
  fromBlock: 0
port: 8989
